@import '~antd/dist/antd.css';

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: rgb(0, 0, 0);
}

.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

/* .menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
} */

.menu__container .ant-menu-horizontal {
  border-bottom: none;
  background: transparent !important;
}
.menu__container .menu_left {
  float: left;
  height: 64px;
  display: flex;
  align-items: center;
}

.menu__container .menu_rigth {
  float: right;
  height: 64px;
  display: flex;
  align-items: center;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 7px;
  margin-top: 13px;
  display: none !important;
  background: #3e91f7;
  margin-right: 1rem;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}
.ant-menu-horizontal > .ant-menu-item a {
  color: rgb(255 255 255 / 85%) !important;
  font-size: 15px;
  font-weight: 600;
}
.ant-menu {
  color: rgb(153 153 153 / 85%) !important;
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu__container .menu_left,
  .menu__container .menu_rigth {
    display: none;
  }

  .menu__logo a {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
  .ant-menu-horizontal {
    line-height: 64px !important;
  }
}